.example-spacer {
  flex: 1 1 auto;
}

.main-wrapper {
  .mat-toolbar {
    z-index: 2;
  }
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  .nav {
    width: 230px;
  }

  .real-content {
    padding: 2em;
  }
}
