<div class="main-wrapper" #mainWrapper>
  <mat-toolbar color="primary" class="mat-elevation-z2">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="nav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Seyoun</span>
    <span class="example-spacer"></span>
    <mat-slide-toggle (change)="modeChange($event)">Dark Mode</mat-slide-toggle>
  </mat-toolbar>

  <mat-drawer-container class="main-content">
    <mat-drawer #nav mode="side" class="nav" [opened]="true">
      <div class="nav-content">
        <app-nav></app-nav>
      </div>
    </mat-drawer>
    <mat-drawer-content class="real-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
