<mat-list>
  <mat-list-item>
    <button
      mat-button
      routerLink="about"
      color="primary"
      [routerLinkActive]="['mat-elevation-z2', 'mat-raised-button']"
    >
      ABOUT
    </button>
  </mat-list-item>

  <mat-list-item>
    <button
      mat-button
      routerLink="game"
      color="primary"
      [routerLinkActive]="['mat-elevation-z2', 'mat-raised-button']"
    >
      GAMES
    </button>
  </mat-list-item>

  <!--  <mat-list-item>
    <button mat-button [matMenuTriggerFor]="skills">SKILLS</button>

    <mat-menu #skills="matMenu">
      <button mat-menu-item>RXJS</button>
    </mat-menu>
  </mat-list-item>

  <mat-list-item>
    <button
      mat-button
      routerLink="work-history"
      color="primary"
      [routerLinkActive]="['mat-elevation-z2', 'mat-raised-button']"
    >
      WORK HISTORY
    </button>
  </mat-list-item> -->
</mat-list>
